a:hover {
    cursor: pointer;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

/* Home Page */

#uv-address {
    position: absolute;
    top: 30%;
    transform: translateX(-50%);
    text-align: center;
    width: 480px;
    height: 80px;
    font-family: Poppins, sans-serif;
    background-color: rgba(30, 30, 30, 0.8);
    border: 2px solid rgba(30, 30, 30, 0.8);
    border-radius: var(--btn-rounding);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .8);
    outline: none;
    transition: 0.5s;
    color: gray;
    font-size: 40px;
}

#uv-address::placeholder {
    color: gray;
    font-size: 40px;
}

#uv-address:hover {
    transition: 0.5s;
    transform: translate(-50%) scale(1.1, 1.1);
    border: 2px solid rgba(30, 30, 30, 0.8);
}

#uv-address:focus {
    width: 700px;
}

.img-container img {
    display: none;
    max-width: 300px;
    object-fit: cover;
}

.img-container {
    width: 300px;
    height: 200px;
}

#news-container {
    max-width: 200px;
    position: relative;
    margin: auto;
    top: 30%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Navigation */

.Navigation {
    position: absolute;
    align-content: center;
    width: 1000px;
    height: 120px;
    background: rgba(30, 30, 30, 0.8);
    border: 2px solid rgba(30, 30, 30, 0.8);
    border-radius: var(--btn-rounding);
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, .8);
}

.Navigation-Container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 1000px;
}

.Navigation-Container ul {
    gap: 10px;
    padding: 10px;
    display: flex;
    position: absolute;
    transform: translateY(60px);
}

.Navigation-Button a {
    width: 80px;
    height: 80px;
    display: flex;
    padding: 0.75em;
    align-items: center;
    gap: 5px;
    color: var(--text-color1);
    border-radius: var(--btn-rounding);
    transition: 0.25s;
    justify-content: space-around;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.Navigation-Button a:hover {
    transition: 0.25s;
    background-color: rgba(255, 255, 255, 0.5);
}

.Navigation-Container p {
    transform: translateY(35px);
    font-size: 20px;
    z-index: 999;
}

#home-button #home-icon {
    position: absolute;
    transition: 0.5s;
    font-size: 80px;
    transform: translateY(-5px);
}

#home-button:hover #home-icon {
    transition: 0.5s;
    transform: translateY(-15px);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
}

#games-button #games-icon {
    position: absolute;
    transition: 0.5s;
    font-size: 80px;
    transform: translateY(0px);
}

#games-button:hover #games-icon {
    transition: 0.5s;
    transform: translateY(-15px);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
}

#settings-button #settings-icon {
    position: absolute;
    transition: 0.5s;
    font-size: 70px;
    transform: translateY(-5px);
}

#settings-button:hover #settings-icon {
    transition: 0.5s;
    transform: translateY(-15px);
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .8);
}

/* Proxy */

iframe {
    border-radius: 10px;
    overflow: hidden;
}

#iframeid {
    width: 100%;
    height: 100vh;
    border-radius: 0 !important;
    border: none !important;
}

.proxynav {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background-color: #efefef;
    height: 50px;
    width: 150px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 1s ease;
}

.proxynav ul {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.proxynav ul button {
    aspect-ratio: 1 / 1;
    height: 25px;
    border: none;
    background: none;
}

.proxynav ul button i {
    aspect-ratio: 1 / 1;
}