a:hover {
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
    text-decoration: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}
.Title-Container {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    left: 50%;
    top: 50%;
    font-family: Poppins, "Trebuchet MS", sans-serif;
    color: var(--text-color1)
}

/* Navigation */
.Navigation {
    width: 100%;
    height: 80px;
    border-radius: 0 0 var(--btn-rounding) var(--btn-rounding);
    background-color: var(--btn-accent2);
    display: flex;
}
.Navigation-Container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.Navigation-Container ul {
    gap: 15px;
    display: flex;
    position: absolute;
}
.Navigation-Button a {
    display: flex;
    align-items: center;
    padding: 0.75em;
    color: var(--text-color1);
    background-color: var(--btn-accent);
    border-radius: var(--btn-rounding);
    border: 0 solid var(--btn-accent);
}

/* Proxy */

iframe {
    border-radius: 10px;
    overflow: hidden;
}

#iframeid {
    width: 100%;
    height: 100vh;
    border-radius: 0 !important;
    border: none !important;
}

.proxynav {
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50px;
    background-color: #efefef;
    height: 50px;
    width: 150px;
    padding-left: 25px;
    padding-right: 25px;
    transition: 1s ease;
}

.proxynav ul {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.proxynav ul button {
    aspect-ratio: 1 / 1;
    height: 25px;
    border: none;
    background: none;
}

.proxynav ul button i {
    aspect-ratio: 1 / 1;
}