body {
    --btn-rounding: 10px;

    /* Dark Theme */
    --bg-accent1: rgb(15, 15, 15);
    --bg-accent2: rgb(50, 50, 50);
    --bg-accent3: rgb(30, 30, 30);
    --text-color1: rgb(255, 255, 255);
    --text-shadow: rgba(20, 20, 20, 0.5);
    --btn-accent: rgba(60, 60, 60);
    --btn-accent2: rgba(60, 60, 60, 0.75);
    --btn-box-shadow: rgba(70, 70, 70, 0.5);
    --nav-box-hover: var(--text-color1);
    --theme-accent: rgb(50, 50, 288);

    background: linear-gradient(var(--theme-accent), black);
    height: 100vh;
}